:root {
    --font-family: 'Neucha', cursive;
    --primary-color: #FFF2D6;
    --secondary-color: #FFEABB;
    --white-color: #ffffff;
    --dark-color: #070506;
    --black-color: #000000;
    --currency-color: #9C8A00;
    --weight-color: #a3a2a2;
    --light-grey-color: #F3F3F3;
    --dark-green-color: #1B3C2A;
}   