.header {
    background-color: var(--dark-green-color);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-link {
    font-size: 44px;
    line-height: 1.81;
    font-weight: 800;
    color: var(--white-color);
}

.header__wrapper .partnership__link:not(:last-child) {
    margin-right: 60px;
}