.info-section {
    margin-top: -40px;
    padding-top: 120px;
    padding-bottom: 142px;
    text-align: center;
    background-image: url('/images/info-bg_left.jpg'), url('/images/info-bg_right.jpg');
    // object-fit: contain contain;
    // background-position: top left, top right;
}

.snextime-icon {
    fill: var(--secondary-color)
}

.info-wrapper {
    padding-top: 84px;
    display: flex;
}

.info-wrapper__item {
    flex-basis: calc((100%)/2);
}

.info-description{
    padding-top: 86px;
}

.info-wrapper__title {
    font-size: 72px;
    line-height: 1.11;
    font-weight: normal;
    color: var(--white-color);
}

.info-wrapper__text {
    font-size: 32px;
    font-weight: 1.25;
    color: var(--white-color);
}

.info-img {
    position: relative;
}

.info-wrapper__img {
    position: absolute;
}

.img-left {
    z-index: 99;
    left: -10%;
}

.img-middle {
    z-index: 98;
    left: 25%;
    top: -10%;
}

.img-right {
    z-index: 97;
    right: -10%;
    top: 5%;
}

.social-list {
    display: flex;
    justify-content: center;
    margin-top: 290px;
}

.social-list__item {


    &:not(:last-child) {
        margin-right: 25px;
    }
}

.social-list__linc-icon {
    fill: var(--white-color);
}